<div class="row clearfix hover-colorize <%= task.completed? ? 'completed' : '' %>">
  <div class="complete col-xs-1">
    <%= link_to complete_project_task_path(task.project_id, task.id), remote: true, method: :patch, class: "complete-task" do%>
      <i class='fa <%= task.completed? ? 'fa-check-square-o' : 'fa-square-o' %>' ></i>
    <% end %>
  </div>
  <div class="task col-xs-9">
    <%= form_for( [task.project, task], remote: true ) do |f| %>
        <%= f.label "#{task.name}", class: 'task_label_title' %>
        <%= f.text_field :name, class: 'task_input_title' %>
    <% end %>
  </div>
  <div class="trash col-xs-2 hide">
    <i class="fa fa-sort"></i>
    |
    <%= link_to '', class: "edit-task" do %>
      <i class='fa fa-pencil'></i>
    <% end %>
    |
    <%= link_to project_task_path(task.project_id, task.id), method: :delete, data: { confirm: 'Are you sure?'}, class: 'delete-task', remote: true do %>
      <i class='fa fa-trash'></i>
    <% end %>
  </div>
</div>