<h1>Listing projects</h1>

<% @projects.each do |project| %>
  <div class="container">
    <div class="index_row clearfix">
      <h2><%= project.name %></h2>
      <small><%= link_to 'Edit', edit_project_path(project) %></small>
      <small><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></small>
    </div>
    
    <div class="todo_items_wrapper">
      <%= render project.tasks, project_id: project %>
      <div id="form">
        <%= form_for([project, project.tasks.build]) do |f|%>
          <%= f.text_field :name, placeholder: 'New ToDo'%>
          <%= f.submit%>
        <% end %> 
      </div>
    </div> 
  </div>
<% end %>

<br>

<%= link_to 'New Project', new_project_path %>
