<% @projects.each do |project| %>
  <div class="container">
    <div class="index_row clearfix">
      <p class="project_title"><i class="fa fa-calendar"></i><%= project.name %></p>
      <small>
        <%= link_to edit_project_path(project) do %>
          <i class='fa fa-pencil'></i>
        <% end %>
      </small>
      <small>
        <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class='fa fa-trash'></i>
        <% end %>
      </small>
      <br>
      <div id="task_wrapper">
        <%= render project.tasks %>
        <div id="form">
          <%= form_for([project, project.tasks.build]) do |f|%>
            <%= f.text_field :name, placeholder: 'Start typing here to create a task...'%>
            <%= f.submit%>
          <% end %> 
        </div>
      </div> 
    </div>
    
  </div>
<% end %>

<br>
<div class="bottom-link" align="center">
  <%= link_to new_project_path, id: "add-project", class: "btn btn-lg btn-primary" do %>
    <i class="fa fa-plus"></i>
    Add TODO List
  <% end %>
</div>